:root {
  /* Base Colors */
  --vibrantPink: #ff6ad5;
  --lavenderPurple: #c774e8;
  --lightPurple: #ad8cff;
  --mediumBlue: #8795e8;
  --skyBlue: #94d0ff;
  --darkGray: #333f4c;
  --lightGray: #d9d9d9;

  /* Vibrant Pink */
  --vibrantPink25: rgba(255, 106, 213, 0.25);
  --vibrantPink50: rgba(255, 106, 213, 0.5);
  --vibrantPink75: rgba(255, 106, 213, 0.75);
  --vibrantPink90: rgba(255, 106, 213, 0.9);

  /* Lavender Purple */
  --lavenderPurple25: rgba(199, 116, 232, 0.25);
  --lavenderPurple50: rgba(199, 116, 232, 0.5);
  --lavenderPurple75: rgba(199, 116, 232, 0.75);
  --lavenderPurple90: rgba(199, 116, 232, 0.9);

  /* Light Purple */
  --lightPurple25: rgba(173, 140, 255, 0.25);
  --lightPurple50: rgba(173, 140, 255, 0.5);
  --lightPurple75: rgba(173, 140, 255, 0.75);
  --lightPurple90: rgba(173, 140, 255, 0.9);

  /* Medium Blue */
  --mediumBlue25: rgba(135, 149, 232, 0.25);
  --mediumBlue50: rgba(135, 149, 232, 0.5);
  --mediumBlue75: rgba(135, 149, 232, 0.75);
  --mediumBlue90: rgba(135, 149, 232, 0.9);

  /* Sky Blue */
  --skyBlue25: rgba(148, 208, 255, 0.25);
  --skyBlue50: rgba(148, 208, 255, 0.5);
  --skyBlue75: rgba(148, 208, 255, 0.75);
  --skyBlue90: rgba(148, 208, 255, 0.9);

  /* Dark Gray */
  --darkGray25: rgba(51, 63, 76, 0.25);
  --darkGray50: rgba(51, 63, 76, 0.5);
  --darkGray75: rgba(51, 63, 76, 0.75);
  --darkGray90: rgba(51, 63, 76, 0.9);

  /* Gradients */
  --vibrantPurpleGrad: linear-gradient(
    90deg,
    var(--vibrantPink) 0%,
    var(--lavenderPurple) 100%
  );
  --purpleBlueGrad: linear-gradient(
    90deg,
    var(--lightPurple) 0%,
    var(--mediumBlue) 100%
  );
  --blueSkyGrad: linear-gradient(
    90deg,
    var(--mediumBlue) 0%,
    var(--skyBlue) 100%
  );
  --darkLightGrayGrad: linear-gradient(
    90deg,
    var(--darkGray) 0%,
    var(--lightGray) 100%
  );
  --lightToSkyBlueGrad: linear-gradient(
    90deg,
    var(--lightGray) 0%,
    var(--skyBlue) 100%
  );
  --vibrantPurpleGradCalm: linear-gradient(
    90deg,
    var(--vibrantPink50) 0%,
    var(--lavenderPurple75) 100%
  );
  --pinkGrayGrad: linear-gradient(
    90deg,
    var(--lavenderPurple50) 0%,
    var(--vibrantPink50) 25%,
    var(--skyBlue50) 50%,
    var(--lightPurple50) 75%,
    var(--lavenderPurple50) 100%
  );
  --darkGraysGrad: linear-gradient(
    90deg,
    var(--darkGray) 0%,
    var(--darkGrad90) 25%,
    var(--darkGray90) 75%,
    var(--darkGray) 100%
  );

  /* Sizes */
  --xxs: 0.5vh;
  --xs: 1vh;
  --sm: 1.75vh;
  --md: 2vh;
  --lg: 2.3vh;
  --xl: 3vh;
  --xxl: 3.5vh;
  --xxxl: 4vh;

  --monospace: "Ubuntu Mono", monospace;

  /* Shadows */
  --mainShadow: 2px 2px 8px rgba(0, 0, 0, 0.9);
  --subtleShadow: rgba(0, 0, 0, 0.07) 0px 1px 2px,
    rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px,
    rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px,
    rgba(0, 0, 0, 0.07) 0px 32px 64px;
  --largeShadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  --subtleTextShadow: 2px 2px 2px rgba(0, 0, 0, 0.9);
  --largeTextShadow: 2px 3px 5px rgba(0, 0, 0, 0.9);
  --lightTextShadow: 2px 2px 2px rgba(148, 208, 255, 0.9);
  --shadow3D: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.vibrantPurpleGrad {
  background: var(--vibrantPurpleGrad);
}

.purpleBlueGrad {
  background: var(--purpleBlueGrad);
}

.blueSkyGrad {
  background: var(--blueSkyGrad);
}

.darkLightGrayGrad {
  background: var(--darkLightGrayGrad);
}

.lightToSkyBlueGrad {
  background: linear-gradient(90deg, var(--lightGray) 0%, var(--skyBlue) 100%);
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(-20px);
  }

  60% {
    transform: translateY(-10px);
  }
}

.bounce {
  padding-top: 40px;
  animation: bounce 3s infinite;
}

/* .............................. BASE .............................. */
@media (min-width: 0px) {
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  html {
    font-size: var(--md);
    color: var(--skyBlue);
    overflow-x: hidden;
    background: var(--darkGray);
    scroll-behavior: smooth;
    scrollbar-width: "thin";
    scrollbar-color: "purple";
  }

  body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-family: "Comme", sans-serif;
    text-shadow: var(--subtleTextShadow);
    font-weight: 400;
    background: var(--pinkGrayGrad);
    text-shadow: var(--lightTextShadow);
    color: var(--darkGray);
    position: relative;
    overflow-x: hidden;
    justify-content: center;
    align-items: center;
  }

  /* For Chrome, Safari, and newer versions of Edge */
  body::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: var(--darkGray);
  }

  body::-webkit-scrollbar-thumb {
    background-color: var(--skyBlue);
    border-radius: 8px;
    min-height: 50px;
    max-height: 150px;
    transition: all 0.3s ease-in-out;
  }

  body:hover::-webkit-scrollbar-thumb {
    background-color: var(--skyBlue);
    transition: all 0.3s ease-in-out;
  }

  /* For Firefox */
  body {
    scrollbar-width: thin;
    scrollbar-color: var(--skyBlue);
  }

  body:hover {
    scrollbar-color: var(--skyBlue);
  }

  a {
    text-decoration: none;
    color: var(--vibrantPink);
  }

  a:hover {
    color: var(--darkGray);
    text-shadow: 1px 1px 1px var(--vibrantPink);
    transition: all 0.3s ease-in-out;
  }

  .icon-bar {
    height: 7vh;
    width: 100vw;
    position: fixed;
    bottom: 0;
    left: 0;
    background: var(--lightPurple75);
    z-index: 100;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: var(--shadow3D);
  }

  .icon {
    height: 5vh;
    width: 5vh;
    margin: 0 1vw;
    padding: 0.5vh;
    border-radius: 50%;
    background: var(--darkGray90);
    box-shadow: var(--largeShadow);
    color: var(--lavenderPurple);
    transition: all 0.3s ease-in-out;
    text-shadow: var(--subtleTextShadow);
  }

  .icon:hover {
    background: var(--vibrantPink);
    color: var(--darkGray);
    transition: all 0.3s ease-in-out;
  }

  .entire-page-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--sm);
    padding: var(--xs);
    padding-bottom: 7vh;
    position: relative;
    overflow: hidden;
  }

  .VStack {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: var(--sm);
  }

  .heroContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 95vw;
    height: 80vh;
    text-align: center;
    gap: var(--xxl);
    padding: var(--xxxl);
    border-radius: 10px;
    background: var(--darkGray75);
    box-shadow: var(--mainShadow);
    position: relative;
    color: var(--lightGray);
    text-shadow: var(--largeTextShadow);
  }

  .HStack {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: var(--sm);
  }

  .heading {
    font-size: 4vh;
    font-weight: 500;
    font-family: "Comme", sans-serif;
    color: var(--lightGray);
    text-shadow: var(--largeTextShadow);
    padding-top: var(--lg);
  }

  .example {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: var(--xl);
    width: 95vw;
    height: 50vh;
    gap: var(--xl);
    padding: var(--md);
    border-radius: 10px;
    background: var(--darkGray50);
    box-shadow: var(--largeShadow);
    justify-content: space-between;
  }

  .example p {
    font-size: var(--lg);
    font-family: monospace;
    background: var(--lightGray);
    color: var(--darkGray);
    text-shadow: 1px 1px 1px black;
    padding: var(--sm);
    border-radius: var(--xxs);
  }

  .example img {
    width: 50vw;
    height: auto;
    border-radius: var(--sm);
    box-shadow: var(--largeShadow);
    margin-bottom: var(--xxl);
  }

  .image {
    position: absolute;
    height: 15vw;
    width: auto;
  }

  .bottom-right {
    bottom: 0vh;
    right: 3vw;
  }

  .bottom-left {
    bottom: 0vh;
    left: 1vw;
  }

  .top-right {
    top: 3vh;
    right: 2vw;
  }

  .top-left {
    top: 5vh;
    left: 5vw;
  }

  .top-center {
    top: 4vh;
    left: 50%;
  }

  .bottom-center {
    bottom: 0px;
    left: 40%;
  }

  .properties-heading {
    padding: var(--xs) var(--md);
  }

  .properties {
    height: fit-content;
    font-size: var(--md);
    gap: var(--xs);
    justify-content: space-evenly;
    text-align: left;
    align-items: flex-start;
  }

  .text-section,
  .option {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: var(--md);
    color: var(--lightGray);
    text-shadow: var(--subtleTextShadow);
  }

  .option {
    font-weight: 500;
    padding: var(--xxs);
  }

  ul {
    list-style: none;
    padding: var(--xs) var(--sm);
  }

  .blue-text {
    color: var(--skyBlue);
    text-shadow: var(--largeTextShadow);
  }

  .code-example {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.25vh;
    padding: var(--xxs) var(--xxl);
  }

  code {
    font-size: var(--sm);
    line-height: 1.25;
    font-family: var(--monospace);
    background: var(--lightGray);
    color: var(--darkGray);
    padding: 0 5px;
    border-radius: var(--xxs);
  }
}

/* ......................... MEDIA QUERIES .......................... */

@media (min-width: 600px) {
  .heading {
    font-size: 5vh;
  }
  .example img {
    width: 45vw;
    height: 45vw;
  }
}

@media (min-width: 800px) {
  .heroContainer {
    width: 80vw;
    height: 80vh;
  }

  .heading {
    font-size: 6vh;
  }

  .example {
    width: 80vw;
  }

  .example img {
    width: 35vw;
    height: 35vw;
  }

  .image {
    height: 13vw;
  }
}

@media (min-width: 1024px) {
  .example img {
    width: 30vw;
    height: 30vw;
  }

  .image {
    height: 11vw;
  }

  .icon-bar {
    justify-content: center;
    gap: var(--xl);
  }
}

@media (min-width: 1200px) {
  .example {
    width: 50vw;
  }

  .example img {
    width: 20vw;
    height: 20vw;
  }

  .icon-bar {
    gap: var(--xxl);
  }
}

@media (min-width: 1500px) {
  .example img {
    width: 15vw;
    height: 15vw;
  }

  .icon-bar {
    gap: var(--xxxl);
  }
}
